*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/1064722.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    text-align: center;
}

.text-box h1{
    font-size: 30px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid aqua;
    background: aqua;
    transition: 1s;
}

.text-box2{
    width: 90%;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    text-align: left;
}

.text-box2 h2{
    font-size: 20px;
    
}

.text-box2 iframe{
    align-items: left;
}
.text-box3{
    width: 90%;
    color: white;
    position: absolute;
    bottom: 23%;
    right: 23%;
    transform: translate(23%, 23%);
    text-align: right;
}

.text-box3 h3{
    font-size: 20px;
    
}

/* ------social media links */
.social-media{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

footer{
    width: calc(100%-80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul{
    width:  fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li{
    list-style: none;
    display: block;
    position: relative;
}
footer ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
}

footer ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background:aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

footer ul li:hover::after{
    width: 100%;
}

.footer-sm{
    width: 60px;
    float: right;
}

.footer-sm a img{
    width: 100%;
    margin-bottom: 20px;
}

.footer-sm a img:hover{
    border: 1px solid #ff4500;
    background: #ff4500;
    transition: 1s;
}

.footer-sm2{
    width: 60px;
    float: right;
}

.footer-sm2 a img{
    width: 100%;
    margin-bottom: 20px;
}

.footer-sm2 a img:hover{
    border: 1px solid #8a3ab9;
    background: #8a3ab9;
    transition: 1s;
}

.footer-sm3{
    width: 60px;
    float: right;
}

.footer-sm3 a img{
    width: 100%;
    margin-bottom: 20px;
}

.footer-sm3 a img:hover{
    border: 1px solid #3b5998;
    background: #3b5998;
    transition: 1s;
}

.footer-sm4{
    width: 60px;
    float: right;
}

.footer-sm4 a img{
    width: 100%;
    margin-bottom: 20px;
}

.footer-sm4 a img:hover{
    border: 1px solid #1DA1F2;
    background: #1DA1F2;
    transition: 1s;
}

.footer-sm5{
    width: 60px;
    float: right;
}

.footer-sm5 a img{
    width: 100%;
    margin-bottom: 20px;
}

.footer-sm5 a img:hover{
    border: 1px solid #FF0000;
    background: #FF0000;
    transition: 1s;
}

/* ------Forum----- */
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/1041256.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.text-box4{
    width: 100%;
    color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
    text-align: center;
}

.text-box4 h1{
    font-size: 30px;
}


.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn1{
    top: 0;
    left: 0;
    position: absolute;
    width:110px;
    height: 100%;
    background: linear-gradient(to right, blue, aqua );
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 3s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, blue, aqua );
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size:12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

/* ------ story page */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/355099.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;

}

.sub-header h1{
    font-size: 30px;
    margin-top: 100px;
}

.story-page{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}


.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;

}

.aqua-btn{
    border: 1px solid aqua;
    background: transparent;
    color: aqua;
}

.aqua-btn:hover{
    color: white;
}

/* ------ Characters---- */

.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/personajes-ffvii.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;

}

.sub-header2 h1{
    font-size: 30px;
    margin-top: 100px;
}

.character{
    width: 80%;
    margin: auto;
    text-align: auto;
    padding-top: 50px;
}


.character-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.character-col a img{
    width: 30%; 
    float: right;
    
}

.character-col p{
    padding: 15px 0 15px;

}

